/webapp/nodejs/
/webapp/python/
/webapp/perl/
/webapp/php/
/webapp/ruby/
/webapp/java/
/webapp/scala/
.bash_history
.bash_logout
.bundle
.cache
.cmake
.config
.gem
.gitconfig
.local
.lesshst
.mysql_history
.profile
.rnd
.ssh
.viminfo
.wget-hsts
.xbuild
/webapp/go/src/
/webapp/go/pkg/
/webapp/go/bin/
